[
  {
    "id": "webhook",
    "command": "/home/adnan/redeploy-go-webhook.sh",
    "cwd": "/home/adnan/go",
    "trigger-rule":
    {
      "match":
      {
        "parameter": "ref",
        "value": "refs/heads/master"
      }
    }
  }
]
